<h1> All tasks </h1>
<ol>
   <% @tasks.each do |task|%>
     <li> <%= task.description%>
       <%= link_to "mostrar", task%>
       <%= link_to "borrar!", task, :method=> :delete, :confirm=> "Estas Seguro?!" %>
     </li>
   <%end%>
</ol>
